.slideshow {
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 49px;
  position: relative;
  width: 100%;
}
.slide {
  width: 100%;
  height: 400px;
  display: block;
  position: relative;
  overflow: hidden;
  background: linear-gradient(270deg, #46bed6, #2039b3, #501ed8);
  background-size: 600% 600%;
  animation: example 30s ease infinite;
}
@keyframes example {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
.slideshow__nav {
  z-index: 1;
  border-radius: 50%;
  margin-top: -25px;
  top: 50%;
  cursor: pointer;
  justify-content: center;
  color: #fff;
  align-items: center;
  display: flex;
  height: 50px;
  position: absolute;
  width: 50px;
  transition: .3s;
}
.slideshow__nav:hover { background-color: #fff; color: #333; }
.slideshow__nav.slideshow__nav--prev { left: 0; }
.slideshow__nav.slideshow__nav--next { right: 0; }

.icon-map {
  padding-top: 80px;
  padding-left: 180px;
  font-size: 200px;
  color: #fff;
}
.slide-text {
  color: #fff;
  position: relative;
  left: 500px;
  bottom: 160px;
}
.slide-title {
  font-size: 50px;
  font-weight: 700;
}
.slide-subtitle {
  font-size: 26px;
}
.slide-route {
  margin-left: 0;
  transition: .3s;
}
.slide-route:hover {
  cursor: pointer;
  color: #000;
}
ul {
  margin-block-start: 10px;
  list-style-type: none;
}
.tablist {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tablist_item {
  margin-right: 30px;
}
.react-tabs__tab--selected {
  color: #2C929F;
}

/* cssTransition */
/* Tabs */
.fade-appear {
  opacity: 0;
  z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1; 
  transition: opacity 300ms linear;
}
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear;
}
/* Router */
.open-appear {
  opacity: 0;
  z-index: 1;
}
.open-appear.open-appear-active {
  opacity: 1; 
  transition: opacity 300ms linear;
}
.open-enter {
  opacity: 0;
  z-index: 1;
}
.open-enter.open-enter-active {
  opacity: 1;
  transition: opacity 300ms linear;
}
